<table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-weight: 400; font-family: Arial; max-width: 1270px; font-size: 13px;">
    <tr>
        <td style="font-family: 'Arial', serif; margin: 0; font-size: 13px; width: 115px; height: 115px; display: inline-block"><img src="http://lemonadestudio.pl/stopka/logo.png" /></td>
        <td style="font-family: 'Arial', serif; margin: 0; font-size: 13px; margin: 5px 0 0; width: 150px; height: 115px; display: inline-block">
            <p style="margin: 0 0 5px; padding: 0 0 0 25px">Pozdrawiam,</p>
            <p style="margin: 0 0 5px; border-left: 1px solid #b7b7b7; padding: 0 0 0 25px; ">
                <strong>Tomasz Jacek</strong><br />
                <span style="color: #9a9a9a; font-size: 11px;">Web Developer</span>
            </p>
            <p style="padding: 0 0 0 25px">
                <img style="vertical-align: middle; display: inline-block;" src="http://lemonadestudio.pl/stopka/phone-ico.jpg" /> <span style="font-size: 13px; vertical-align: middle; display: inline-block;"><span style="color: #9a9a9a; font-size: 12px;">+48</span> 724 168 219</span>
            </p>    
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="www.facebook.com/LemonadeStudio"><img style="margin: 0 10px 0 0; padding: 5px 0 0;" src="http://lemonadestudio.pl/stopka/fb-ico.png" /></a>
            <a href="www.youtube.com/LemonadeStudio"><img style="margin: 0 10px 0 0; padding: 5px 0 0;" src="http://lemonadestudio.pl/stopka/yb-ico.png" /></a>
            <a href="www.instagram.com/lemonadecrew/"><img style="margin: 0 10px 0 0; padding: 5px 0 0;" src="http://lemonadestudio.pl/stopka/behance-ico.png" /></a>
            <a href="https://youtu.be/HGoCNBmRRSE"><img style="margin: 0 10px 0 0; padding: 5px 0 0;" src="http://lemonadestudio.pl/stopka/movie-btn.png" /></a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a style="text-transform: uppercase; color: #000; text-decoration: none; font-weight: 700; font-size: 11px; font-family: Arial; margin: 20px 0 0; display: block;" href="www.lemonadestudio.pl">www.lemonadestudio.pl</a>
        </td>
    </tr>
    <tr style="text-align: center; width: 100%;">
        <td colspan="2" style="font-family: 'Arial', sans-serif; font-size: 9px; margin: 0; line-height: 12px; font-size: 9px; padding-top: 12px; text-align: left;">Powyższa korespondencja przeznaczona jest wyłącznie dla osoby lub podmiotu, do którego jest adresowana i może zawierać informacje o charakterze poufnym lub zastrzeżonym. Nieuprawnione wykorzystanie informacji zawartych w wiadomości e-mail przez osobę lub podmiot nie będący jej adresatem jest zabronione odpowiednimi przepisami prawa. Odbiorca korespondencji, który otrzymał ją omyłkowo, proszony jest o niezwłoczne zawiadomienie nadawcy drogą elektroniczną lub telefonicznie i usunięcie tej treści z poczty elektronicznej. Dziękujemy.
        </td>
    </tr>
</table>